* {
  border: 0px;
  padding-left: 0px;
  margin: 0;
}

body {
  background-color: #fff;
  margin-left: 100px;
  margin-top: 50px;
}

ul{
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

li{
  background-color: #8db190;
    margin: 10px;
    min-width: 50px;
height: 20px;
padding: 10px;
    list-style-type: none;
    display: flex;
flex-direction: row;
     text-align: justify;
}

nav a:link {
 color: #fff;
 text-decoration: none;
 font-family: 'montserrat', sans-serif;
 font-weight: 700;
 font-style: normal;
 font-weight: bold;
     text-align: right;
}

nav a:hover {
  background-color: #ff6bc1;
    color:#fff;
}

li:hover {
  background-color: #ff6bc1;
}

nav a:active {
  background-color: #e90e67;
    color:#fff;
}

li:active {
  background-color: #e90e6;
}

nav a:visited {
    color:#fff;
}

h1 {
  font-family: 'alga', serif;
font-weight: 700;
font-style: normal;
color: #776a66;
font-size: 72px;
}

h2 {
  font-family: 'montserrat alternates', sans-serif;
  font-weight: 700;
  font-style: bold;
color: #f2a96d;
}

h3 {
  font-family: 'montserrat alternates', sans-serif;
  font-weight: 400;
  font-style: italic;
color: #ff6bc1;
}

h4 {
  font-family: 'montserrat alternates', sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 30px;
color: #ff6bc1;
}

button {
  background-color: #f2a96d;
    color:#fff;
    text-decoration: none;
    font-family: 'montserrat alternates', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    min-width: 50px;
height: 40px;
padding: 10px;
}

button:hover {
  background-color: #9399ff;
}

#container {
  padding-top: 75px;
  padding-left: 100px;
  padding-bottom: 100px;
}

#li2 {
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
#list {
  background-color: #fff;
    margin: 10px;
    min-width: 50px;
height: 20px;
padding: 10px;
    list-style-type: none;
    display: flex;
flex-direction: row;
     text-align: justify;
}

#cart {
  position: absolute;
   right: 580px;
   top: 250px;
}

#li3 {
  position: absolute;
   right: 860px;
   top: 480px;
}

#birthday {
  padding-top: 100px;
}

#li4 {
  position: absolute;
   right: 860px;
   top: 710px;
}

#total {
  position: absolute;
   right: 580px;
   top: 900px;
}

footer {
  height: 500px;
}
